*.ipynb
*.pyc
*.npy
*.gif
__pycache__/
media/
.ipynb_checkpoints/
scrambled_frames_subset.npy
bucket.npy
output.gif
ffmpeg.exe
*.png
GEMINI.md
unscramble.py
tvs.py
manim_stuff.py
requirements.txt
heatmap_video.py
.gitignore
videos/