*.pyc
*.npy
*.gif
__pycache__/
media/
ffmpeg/
.ipynb_checkpoints/
scrambled_frames_subset.npy
bucket.npy
output.gif
ffmpeg.exe
*.png
GEMINI.md
unscramble.py
tvs.py
manim_stuff.py
requirements.txt
heatmap_video.py
.gitignore
videos/
*.mkv
*.ipynb
analyze_video_ffmpeg.ipynb
image_metrics.ipynb
tv_class.ipynb
unscramble.ipynb
unscramble 2.ipynb
unscramble 3 (SOMs).ipynb
unscramble 4.ipynb
unscramble_2.ipynb
unscramble_5
analyze_video.ipynb